/* колір фону і футеру#2E2F42
вторинний колір фону  #F4F4FD
колір кнопки і веб ##4D5AE5
заголовки #2E2F42
колір тексту #434455
колір тексту футеру #E7E9FC */

:root {
  --primary-color: #2e2f42;
  --text-color: #434455;
  --active-color: #4d5ae5;
  --hover-color: #434455;
  --focus-color: #434455;
  --light-text-color: #e7e9fc;
  --background-color: #f4f4fd;
  --filter-btn-color: #f4f4fd;
  --main-backgroud-color: #ffffff;
  --current-link-color: #404bbf;
  --trans-duration: 250ms;
  --trans-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--main-backgroud-color);
  margin: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* header */

header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  padding-bottom: 24px;
  color: var(--primary-color);

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web,
.logo:active {
  color: var(--active-color);
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 767px) {
  .site-nav,
  .auth-nav {
    display: none;
  }
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .open-menu-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    gap: 40px;
  }
  .logo {
    padding: 0;
    margin-right: 120px;
  }

  .nav-item {
    display: block;
    position: relative;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--primary-color);

    padding-top: 24px;
    padding-bottom: 22px;

    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-tf);
  }

  .nav-item:hover,
  .nav-item:focus {
    color: var(--active-color);
  }
  .nav-item:active {
    color: var(--active-color);
  }
  .nav-item::after {
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    content: "";

    width: 100%;
    height: 4px;
    background: var(--current-link-color);
    border-radius: 2px;
  }
  .link.current {
    color: var(--current-link-color);
  }

  .link.current::after {
    opacity: 1;
  }
  .auth-nav {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 24px;
    margin-left: auto;

    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-tf);
  }
  .auth-nav:hover,
  .auth-nav:focus {
    color: var(--active-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 76px;
  }
  .auth-nav {
    display: flex;
    margin-top: 0;
  }

  .auth-list + .auth-list {
    margin-left: 40px;
  }
}
/*  */
/* hero */
/*  */
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgrounds/mobile-bg.jpg);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/backgrounds/mobile@2-bg.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/backgrounds/tablet-bg.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/backgrounds/tablet-bg@2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/backgrounds/desktop-bg.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/backgrounds/desktop-bg@2.jpg");
  }
}

.hero-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;

  color: #ffffff;
  background: var(--active-color);
  cursor: pointer;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 170px;
  height: 56px;
  border: none;
  margin-top: 72px;

  transition-property: background-color, box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.hero-btn:hover,
.hero-btn:focus,
.submit-btn:hover,
.submit-btn:focus,
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--current-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-title {
  margin: auto;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-backgroud-color);
  max-width: 319px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 108px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
  }

  .hero-btn {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-btn {
    margin-top: 48px;
  }
}

/*  */
/* benefits section */
/*  */

@media screen and (max-width: 1199px) {
  .benefits-item {
    display: none;
  }
  .benefits-section {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  @media screen and (min-width: 480px) {
  }
  .section-item {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .section-desc {
    margin: 0;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }
  .benefits-list:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .benefits li {
    flex-basis: calc(100% / 2 - 24px);
  }
  .section-item {
    text-align: left;
  }
  .benefits li:nth-child(n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .benefits {
    display: flex;
    justify-content: center;
  }
  .benefits-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .benefits li {
    width: 264px;
  }

  .benefits li:not(:last-child) {
    margin-right: 24px;
  }
}

.activities {
  display: flex;
  padding-bottom: 120px;
}

/*  */
/* activities */
/*  */

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.activity-list {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.activity-item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}
/*  */
/* our team */
/*  */

.our-team {
  background-color: var(--background-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.team {
  text-align: center;
  margin-top: 72px;
}

.members {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
}

.member-name {
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
}

.members:not(:last-child) {
  margin-bottom: 72px;
}

.member-descr {
  background-color: #ffffff;
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 12px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--active-color);

  transition-property: background-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.social-list-link:hover,
social-list-link:focus {
  background-color: var(--current-link-color);
}

.social-list-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .our-team {
    padding-bottom: 104px;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }

  .members {
    margin: 0;
  }

  .members:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .members:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

/*  */
/* customers */
/*  */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
}

.customers-logo-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}

.customers-logo-item {
  width: 190px;
  height: 88px;
  margin-right: auto;
  margin-left: auto;
}

.customers-logo-item {
  margin-top: 72px;
}

.customers-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.customers-logo-link:hover,
.customers-logo-link:focus {
  color: var(--current-link-color);
  border-color: var(--current-link-color);
}

.logo-icon {
  width: 110px;
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .customers-logo-item:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-tablet-container {
    width: 584px;
  }
  .customers-logo-item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .customers-logo-item {
    width: 168px;
  }
  .logo-icon {
    width: 104px;
  }
}

@media screen and (min-width: 1199px) {
  .customers-logo-list {
    justify-content: center;
    gap: 24px;
  }
  .customers-logo-item:nth-child(-n + 4) {
    margin-bottom: 0;
  }
}

/*  */
/* footer */
/*  */

footer {
  background-color: var(--primary-color);
}

.footer-content {
  text-align: center;
  margin-bottom: 72px;
}

footer .logo {
  display: block;

  color: #f4f4fd;
  text-align: center;
}
.footer-dscr {
  color: var(--light-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  padding: 0;
  margin: 0;
}

.footer-media-section {
  margin-bottom: 72px;
}

.footer-social-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-color);

  transition-property: background-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-social-list-icon {
  fill: #f4f4fd;
}

.form {
  text-align: center;
}

.form-title {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--main-backgroud-color);
}
.submit-btn {
  display: inline-block;
  padding: 8px 24px;

  height: 40px;

  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;

  transition-property: background-color, box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.submit-btn {
  margin-left: auto;
  margin-right: auto;
}

.icon-send {
  margin-left: 8px;
}
.subscribe-input {
  width: 264px;
  height: 40px;

  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 16px;

  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input::placeholder {
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet-container {
    width: 536px;
  }
}

@media screen and (min-width: 480px) {
  .subscribe-input {
    width: 396px;
  }
}

@media screen and (min-width: 768px) {
  footer .logo {
    text-align: left;
    margin-bottom: 16px;
  }
  .tablet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .footer-content {
    text-align: left;
  }
  .footer-social-title {
    text-align: start;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }

  .submit-btn {
    margin: 0;
  }
  .form {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }
  .footer-content {
    margin-bottom: 0;
  }
  .footer-dscr {
    max-width: 264px;
  }
  .footer-media-section {
    display: block;
    padding: 0;
    margin-left: 120px;
    margin-bottom: 0;
  }
  .form {
    margin-left: auto;
  }
}

/*  */
/* */ /* mobile-menu */ /* */
/*  */

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.mobile-menu-link.link.current {
  color: var(--active-color);
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: var(--light-text-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  background-color: var(--main-backgroud-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu {
  margin-bottom: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fff;
}

.mobile-menu-link:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
}
.mobile-menu-list:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-list:last-child {
  margin-bottom: 48px;
}

.mobile-menu-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-transform: capitalize;
  color: var(--active-color);
}

.mobile-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.menu-social-list {
  display: flex;
  gap: 56px;
}

@media screen and (max-width: 418px) {
  .mobile-menu-tel {
    font-weight: 600;
    font-size: 24px;
  }
  .menu-social-list {
    gap: 20px;
  }
}

.menu-social-list-item {
  width: 40px;
  height: 40px;
}
.menu-social-list-link {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--active-color);
  fill: var(--filter-btn-color);
}

/*  */
/* modal */
/*  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition-property: opacity, visibility;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 392px;
  height: 586px;
  overflow-y: scroll;
  padding: 72px 16px 24px 16px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition-property: transform;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}
.btn-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 8px 8px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  background-color: var(--current-link-color);
  border-color: var(--current-link-color);
  fill: var(--main-backgroud-color);

  transition-property: background-color, border-color, fill;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.registration-title {
  display: block;
  text-align: center;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}

.registration-form-field {
  display: block;
  position: relative;
}

.registration-form-label {
  display: block;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.registration-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 38px;
  margin-bottom: 8px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;

  transition-property: border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.registration-form-input:focus {
  border-color: var(--active-color);
  fill: var(--active-color);
}

.registration-form-input:focus + .registration-form-icon {
  fill: var(--active-color);
}
.registration-form-icon {
  position: absolute;
  bottom: 16px;
  left: 16px;

  transition-property: fill;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.user-comment {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;

  background-color: transparent;
  outline: transparent;

  transition-property: border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.user-comment:focus {
  border-color: var(--active-color);
}

.user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.registration-form-agreement {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}

.registration-form-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  transition-property: background-color, border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.registration-form-checkbox:checked {
  background-image: url(../images/chek.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--current-link-color);
  background-color: var(--current-link-color);
}

.registration-form-text {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}

.registration-form-link {
  color: var(--active-color);
}

.modal-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: var(--active-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  transition-property: background-color, box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

@media screen and (orientation: landscape) {
  .backdrop {
    overflow-y: auto;
  }
  .modal {
    top: 10%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/*  */
/* portfolio */
/*  */

.projects {
  padding-top: 98px;
}

.filter-btn {
  color: var(--active-color);
  background-color: var(--filter-btn-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  cursor: pointer;

  padding: 8px 16px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--active-color);
  border-color: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:active {
  background-color: var(--current-link-color);
}

.prodjects-item:not(:last-child) {
  margin-right: 24px;
}

.projects-nav {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}

.prodjects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}

.project-descr {
  display: block;

  padding: 32px 0 32px 16px;
  width: 360px;
}

.prodjects-list li {
  flex-basis: calc(100% / 3 - 24px);

  margin-left: 24px;
  margin-top: 48px;
}

.project-card {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition-property: box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-tf);
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  margin: 0;

  color: var(--background-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--active-color);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--trans-duration);
}

.project-card:hover .overlay,
.project-card:focus .overlay {
  transform: translateY(0);
}
